.hidden {
    display: none;
}

.navbar  { 
    grid-area: navbar;
    font-size: 2em;
    padding: 10px 0 20px 5px;
}

.widget__contents {
    border: 1px dotted lightblue;
    padding: 10px;
}

.tasks  { grid-area: tasks;  }
.events    { grid-area: events;    }
.news { grid-area: news; }
.chat    { grid-area: chat;    }
.friends { grid-area: friends; }
.footer  { grid-area: footer;  }


.grid {
    display: grid;
    
    grid-column: 1fr 2fr 1fr;
    grid-row: 40px 150px 1fr 1fr 1fr 50px;
    
    grid-template: "navbar navbar navbar"
                   "tasks events news"
                   "tasks events news"
                   "chat chat friends"
                   "chat chat friends"
                   "footer footer footer";
    
    }